#robo{
    width: 240px;
    height: auto;
}
.texto{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #1C3C7C;
}
.texto-segundobloco{    
    display: flex;
    align-items: flex-start;
}
#button{
    background-color: #1E3F8A;
    color: white;
    border: none;
    padding: 7px 45px;
    border-radius: 20px;
    cursor: pointer;
}    
.lado-direito{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-right: 100px;
    margin-top: 30px;
    
}

.lado-esquerdo{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 60px;
}
.caixa-secao2{
    background-color: #CFE0F5;
    width: 1300px;
    height: 240px;
    border-radius: 10px;
    display: flex;

}
.blocos-secao2{
    width: 200px;
    height: 200px;
    background-color: #e7eef6;
}

.texto-secao2{  
    background-color: #CFE0F5;
    width: 1300px;
    height: 30px;
    border-radius: 10px;
}
.conteudo-large{

    width: 1366px;
    height: 270px;
    background-color: #CFE0F5;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between
}
.conteudo-large1{
    width: 1366px;
    height: 270px;
    background-color: #CFE0F5;
    margin: 10px;
    border-radius: 10px;
}
.conteudo-small{
    width: 554px;
    height: 270px;
    background-color: #CFE0F5;
    margin: 10px;
    border-radius: 10px;
}
section{
    display: flex;
    padding: 10px;
}
body{
    background-color: #e7eef6;
}